<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
  <section class="about">
    <div class="main">
      <img src=<%=img %> alt="">
      <div class="about-text">
        <center>
        <h1><%=ProductName[0].name_of_item %></h1>
        <!-- <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <p>4star (1.6k)</p><br> -->
        <p><b>Price : <%=ProductName[0].price_of_item %></b></p><br><br>
        <h3>Product Description:</h3>
        <p><%=ProductName[0].description %></p>
        <br><br><h3>Seller Details: </h3>
        <ul style="list-style-type:square">
          <li>Seller Name: <%=ProductName[0].seller_name %></li>
          <li>Seller Address: <%=ProductName[0].address %></li>
          <li><%=ProductName[0].city %> <%=ProductName[0].pin %></li>
          <li>Seller Contact: <%=ProductName[0].contact_detail %></li>
          <li>Category of Item: <%=ProductName[0].category_of_item %></li>
        </ul>
      </center>
      </div>
    </div>
  </section>
  </body>
</html>
